extends layout

block content
    
    style.
        .pending-string {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 30px;
        }

    div.center-block.text-center.col-sm-12
        if upload.status == 'processing'

            div(style="max-width:443px;margin:0 auto;")
                h2.fw(id="processing") Your upload is currently 1% done being processed

                h4.fw(style="font-size:22px;margin-top:30px;") If your upload is stuck on processing, let an admin know via the chat link at the bottom of the page and we'll take a look.

        if upload.fileType === 'video' && !upload.status !== 'processing'
            div.display-div(style="min-width:50%;min-height:50%;margin:0 auto;")
                video#media_player.display-element(playsinline poster=`${serverToUse}/${upload.uploader.channelUrl}/${upload.thumbnails.generated || upload.thumbnails.medium}` controls='', style="max-width:100%;background-color:black;")
                    source.video-source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}.mp4`, type='video/mp4')


        else if upload.fileType === 'audio'
            div
                audio#media_player.my_audio(playsinline style="width:80%;" controls='', preload='none')

                    if upload.fileExtension == '.m4a'
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp4')
                    if upload.fileExtension == '.oga' || upload.fileExtension == '.ogg'
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/ogg')
                    else
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp3')


        else if upload.fileType === 'image'
            div.display-div(style="")
                a(href=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`)
                    img.display-element(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}` style="border-radius:18px;max-width:90%;min-height:50%;max-height:620px;")


        // Main Block
        div.non-player-content(style="position:relative;overflow: hidden;margin-left:2%;margin-right: 2%;max-width: 960px;margin: 0 auto;border-bottom: 1px solid #404040;margin-bottom: 2em;")

            // Pending Processing function
            if upload.visibility == 'pending' && upload.status !== 'processing'
                p.pending-text(style="float: left;font-weight: 600;color: #df0000") (Your video is currently pending moderator approval. If it's still pending after several minutes please contact a mod)


            // Title
            div.titlelock(style="width:100%;text-align: left;float: left;margin-top: 0.5em;")

                // Edit button
                if ( user && user.channelUrl == upload.uploader.channelUrl ) ||  ( user && user.role == 'admin' )
                    div.editbtn(style="float: left;margin-top: 0.5em;margin-right:0.5em;")    
                        a(href=`/user/${upload.uploader.channelUrl}/${upload.uniqueTag}/edit`)
                            button.fw.btn.btn-success(style="border-radius:5px;font-size: 0.8em;padding: 0.2em;") Edit
                
                if upload.formattedDuration
                    p.upload-title(class="upload-title-value" style="color:#ccc;margin-top: 0.5em; margin-right 0.5em; font-size: 1.2em; text-align: left; font-weight: 300;width: 92%; float: left;height: auto;margin-bottom: 1em;") #{upload.title} [#{upload.formattedDuration}]
                else
                    p.upload-title(class="upload-title-value" style="color:#ccc;margin-top: 0.5em; margin-right 0.5em; font-size: 1.2em; text-align: left; font-weight: 300;width: 92%; float: left;height: auto;margin-bottom: 1em;")=upload.title

            // Uploader Thumbnail Name Subscribe
            span.uploader-name(style="text-align: left;float: left;font-size:20px;margin-top: 0.5em;margin-bottom: auto;width: 40%;")
                if upload.uploader.customThumbnail
                    a(href=`/user/${upload.uploader.channelUrl}`)
                        img(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uploader.customThumbnail}` style="border-radius:8px;width:2em;height:2em;margin-right:0.5em;")

                else if upload.uploader.thumbnailUrl
                    a(href=`/user/${upload.uploader.channelUrl}`)
                        img(src=`${serverToUse}/${upload.uploader._id}/unique.png` style="border-radius:8px;width:2em;height:2em;margin-right:0.5em;")

                a(href=`/user/${upload.uploader.channelUrl}` style="color:#ddd;font-weight:300") #{upload.uploader.channelName || upload.uploader.channelUrl}
                if upload.uploader.verified == true
                    img(src="/images/verified.jpg" width="25px" height="25px" style="margin-left:3px;margin-top:-2px;margin-right:5px;")
                if upload.uploader.plan == 'plus'
                    span.nodetube-pro(title="Plus Member") +

                if upload.visibility != 'pending'
                    if alreadySubbed
                        button.subscribe.btn.fw.btn-danger(style="border-radius:4px;margin-left:0.5em;font-size:12px;padding:0.2em;") Unsubscribe (#{subscriberAmount})
                    else
                        button.subscribe.btn.fw.btn-success(style="border-radius:4px;margin-left:0.5em;font-size:12px;padding:0.2em;") Subscribe (#{subscriberAmount})        


            // Extra Buttons
            div.extrabtns(style="float:right;;margin-left: 1em;")
                div.change-size-button(style="margin-top: 0;")
                    h2.download-button(style="margin-top: 0;")
                        i.download-icon.fa.fa-download(aria-hidden="true" style="cursor:pointer;font-size:20px;" title="Download")
                div.change-size-button(style="margin-top: 0;")
                    h2.share-button(style="margin-top: 0;")
                        i.share-icon.fas.fa-code(aria-hidden="true" style="cursor:pointer;font-size:20px;" title="Embed link")
                if upload.fileType == 'video' || upload.fileType == 'audio'
                    div.change-size-button(style="margin-left:0px")
                        h2.repeat-div(style="opacity:0.4;margin-top: 0;")
                            i.repeat-icon.fa.fa-repeat(aria-hidden="true" style="cursor:pointer;font-size:20px;" title="Repeat")
                div.change-size-button(style="cursor:pointer")
                    h2.report-button(style="margin-top: 0;")
                        i.share-icon.fa.fa-exclamation-triangle(aria-hidden="true" style="cursor:pointer;font-size:20px;" title="Report")


            // React Buttons
            div.react(style="border-radius: 12px;max-width:24em;float: right;text-align: center;margin-bottom:1em;height:4em;")
                each emoji in emojis
                    div(style="padding-left:0.5em;padding-top:0.5em;padding-right:0.5em;display:inline-block;")
                        a(href="#")
                            if currentReact
                                if currentReact == emoji.name
                                    div.clicked-emoji
                                        img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="25px" title=emoji.name )
                                else
                                    div.unclicked-emoji
                                        img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="25px" title=emoji.name )
                            else
                                div.clicked-emoji
                                    img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="25px" title=emoji.name )
                        p.fw(class=emoji.name) #{emoji.amount}


            // Views Count
            p.fw(style="text-align: left;float: left;width: 100%;margin-top: 0em;margin-bottom: 0em;padding-bottom: 1em;font-weight:600;color:#bbb;")
                |  #{upload.timeAgo} - #{upload.views} Views

            // Upload Description
            if upload.description
                //h4.fw(class="upload-description-value") Description                
                p.fw(style="text-align: left;float: left;white-space:pre-line;word-wrap:break-word;width: 75%;" id="descriptionText") #{upload.description}


            // Uploader & Rating
            if upload.uploader

                div.postdetails(style="float:right;text-align: right;")
                    if upload.visibility == 'removed'
                        h2 Upload Deleted

                    if upload.fileType == 'video' || upload.fileType == 'audio'
                        // TODO: should be able to support MB and GB
                        p.fw.fileSizeText(style="margin-top: 0em;margin-bottom:0em;") File Size: #{ formattedFileSize }

                    if upload.category
                        each category in categories
                            if category.name == upload.category
                                p.fw(style="margin-bottom:0em;") Category: #{category.displayName}

                                if upload.subcategory
                                    each subcategory in category.subcategories
                                        if upload.subcategory == subcategory.name
                                            p.fw(style="margin-bottom:0em;") Subcategory: #{subcategory.displayName}


                    if upload.rating
                        if upload.rating == 'allAges'
                            p.fw(style="margin-bottom:0em;") Rating: Safe For Work
                        if upload.rating == 'mature'
                            p.fw(style="margin-bottom:0em;") Rating: NSFW
                        if upload.rating == 'sensitive'
                            p.fw(style="margin-bottom:0em;") Rating: Sensitive (18+)


                    // Sharing Buttons
                    div.sharebtn(style="float: right;margin-top: 1em;margin-bottom:2em;")
                        a(href=`https://poal.co/submit/link?linkpost=true&run=1&url=${url}&title=${title}` target="_blank" title='Share on Poal')
                            img(src='/images/poal-share.jpg', width='80', alt='Share on Poal')
                        a(href=`https://www.facebook.com/sharer/sharer.php?u=${url}` target="_blank")
                            img(src='/images/facebook-share.jpg', width='80', alt='Share on Nosebook')
                        a(href=`https://twitter.com/share?url=${url}` target="_blank")
                            img(src='/images/twitter-share.jpg', width='80', alt='Share on Twatter')


        // COMMENT SECTION AND FORM
        div.non-player-content(style="position:relative;margin-left: 0em; margin-right: 0em;max-width: 960px;margin: 0 auto;")

            div.col-sm-12(style="margin-left: 0em; margin-right: 0em;")
                if user
                    if !viewingUserIsBlocked
                        // comment form
                        div.comment-form.form-group
                            form.form-horizontal.overall-comment-form(class="comment-form" action='/api/comment', method='post')
                                input(type='hidden', name='_csrf', value=_csrf)
                                label.fw(for="comment" style="font-size:1.2em;") Say something
                                br
                                input(type="hidden" name="upload" id="upload" value=upload._id)
                                textarea.fw(name="comment" id="comment" minlength="2" style="width: 80%;max-width: 100%;border-radius: 8px;border: #4163ac solid 1px;height: 7em;")
                                br
                                input.fw.btn.btn-md.btn-success(type='submit' value="Submit Comment" style="border-radius:4px;")
                else
                    div.comment-form.form-group.no-user-comment-form
                        form.form-horizontal.overall-comment-form(class="comment-form")
                            label.fw(for="comment" style="font-size:1.2em;") Say something
                            br
                            textarea.fw(name="comment" id="comment" minlength="2" style="width: 80%;max-width: 100%;border-radius: 8px;border: #4163ac solid 1px;height: 7em;")
                            br
                            input.fw.btn.btn-md.btn-success(type='submit' value="Submit Comment" style="border-radius:4px")


                // DISPLAY COMMENTS
                // No comments yet otherwise display all comments
                if commentCount == 0
                    div.comment-containing-div(style="width:auto;height:120px;margin-left:0em;margin-right:0em;")
                        div(style="display:block")
                            h4.fw.no-comments-header(style="text-decoration:underline;text-align:left;") No Comments Yet

                            div.comment-thread
                                div.original-comment.no-comments-div(style="display:block;padding-bottom:15px;padding-top:10px;")
                
                else
                    if commentCount > 0
                        div.comment-containing-div.col-sm-6.col-sm-offset-3(style="text-align:center;padding-left: 0;padding-right: 0;")
                            if commentCount == 1
                                div(style="display:block")
                                    h4.fw(style="text-align:left;margin-bottom:14px;") #{commentCount} comment
                            else
                                div(style="display:block")
                                    h4.fw(style="text-align:left;margin-bottom:14px;") #{commentCount} comments
                            each comment in comments
                                if comment.commenter
                                    div.comment-thread
                                        div.original-comment(style="display:block;padding-bottom:15px;padding-top:10px;")
                                            // TODO: Add it here
                                            div.top-line(style="text-align:left;")
                                                p.fw(style="text-align:left;display:inline-block;")
                                                    a(href=`/user/${comment.commenter.channelUrl}` style="color:black;margin-right:5px;") #{comment.commenter.channelName || comment.commenter.channelUrl}
                                                p.fw(style="display:inline-block;") - #{comment.timeAgo} &nbsp
                                                    if user && !viewingUserIsBlocked
                                                        a.reply-link(style="cursor:pointer") Reply
                                                    // delete button
                                                    // if uploader or admin or commenter, let them delete comment
                                                    if isUploaderOrAdmin || ( user && comment.commenter._id == user._id )
                                                        a.delete-comment-button(style="margin-left:9px;cursor:pointer;" commentId=comment._id) Delete

                                                    if isUploader && !comment.commenter.isBlocked
                                                        a.block-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Block User
                                                    if isUploader && comment.commenter.isBlocked
                                                        a.unblock-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Unblock User


                                            p.fw(style="text-align:left;font-size:14px;white-space:pre-line;word-wrap:break-word;") #{comment.text}

                                            // container that appears after you hit Reply
                                            div.reply-container(style="display:none")
                                                form.form-horizontal.reply-comment-form(class="comment-form" action='/api/comment', method='post')
                                                    input(type='hidden', name='_csrf', value=_csrf)
                                                    input(type="hidden" name="upload" id="upload" value=upload._id)
                                                    input(type="hidden" name="commentId" id="commentId" value=comment.id)
                                                    textarea.fw(name="comment" id="comment" minlength="2" style="width: 360px;max-width: 100%;border-radius: 8px;border: #4163ac solid 1px;height: 7em;")
                                                    br
                                                    input.fw.btn.btn-md.btn-success(type='submit' value="Submit reply" style="border-radius:4px")
                                                    br
                                                    br

                                        div.responses
                                            each responseComment in comment.responses
                                                if responseComment.visibility !== 'removed'
                                                    div(style="display:block;padding-bottom:15px;padding-left:40px;")
                                                        div.top-line(style="text-align:left;")
                                                            p.fw(style="text-align:left;display:inline-block;")
                                                                a(href=`/user/${responseComment.commenter.channelUrl}` style="color:black;margin-right:5px;") #{responseComment.commenter.channelName || responseComment.commenter.channelUrl}
                                                            p.fw(style="display:inline-block;") - #{responseComment.timeAgo} &nbsp
                                                        p.fw(style="text-align:left;") #{responseComment.text}

                                else
                                    p No commenter


block extra_js
  //script(src='https://checkout.stripe.com/checkout.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.4.4/Autolinker.js")


block extra_css
  link(rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css")
  style.
    .nodetube-pro {
        background: #edeeee;
        font-weight: 400;
        font-size: 13px;
        margin-left: 3px;
        padding: 8px 9px;
        display: inline-block;
        border-radius: 3px;
        transform: translateY(-2px);
    }

    .dropdown {
        text-align: center;
    }

    .button, .dropdown-menu {
        margin: 10px auto
    }

    .dropdown-menu {
        width: 200px;
        left: 50%;
        margin-left: -100px;
        margin-top: 0px;
    }


block extra_footer_js

  if upload.status == 'processing'
    include ./mediaPlayerPartials/progressTrackerJs



  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.min.js")
  script.
    var clipboard = new ClipboardJS('.copy-button');

    clipboard.on('success', function (e) {
      swal('The text has been copied to your clipboard')
    });


  //COMMENT FUNCTIONALITY CONTAINED HERE
  script(src="/js/media.js")

  script.
    balanceText();

  // reportUploadFunctionalityJs

  include ./mediaPlayerPartials/reportUploadFunctionalityJs

  include ./mediaPlayerPartials/changeQualityJs

  include ./mediaPlayerPartials/changeUserDefaultQualityJs

  include mediaPlayerPartials/creditFunctionalityJs

  if user
    include mediaPlayerPartials/deleteCommentAndBlockUnblockUserJs

  include mediaPlayerPartials/subscribeFunctionalityJs

  include mediaPlayerPartials/sensitiveFunctionalityJs

  include mediaPlayerPartials/plyrAndAutoplayFunctionalityJs

  include mediaPlayerPartials/embedLinkFunctionalityJs

  include ./mediaPlayerPartials/downloadFunctionalityJs

  include ./mediaPlayerPartials/repeatFunctionalityJs

  include ./mediaPlayerPartials/reactFunctionalityJs

  script.
    var myTextEl = document.getElementById('descriptionText');
    if (myTextEl)
    {
      myTextEl.innerHTML = Autolinker.link(myTextEl.innerHTML);
    }

  if user
      script.
        var user = '#{user.id}'
  else
      script.
        var user = undefined
